@model IEnumerable<PartyInvites.Models.GuestResponse>

@if (Model.Count() == 1) {
    <p>You are the first to accept! Hurrah!</p>
} else {
    <p>
        Here is the list of cool people coming: @string.Join(", ",
        Model.Select(x => x.Name))
    </p>
}
